[Unit]
Description=BirdWatch network watchdog (recover dropped Wi-Fi)

[Service]
Type=oneshot
ExecStart=/bin/bash /home/pi/BirdingWatch/pi/system/birdwatch-netwatch.sh
